body {
  background-image: url(https://i.pinimg.com/736x/15/61/6f/15616fe62cca82d424b0556668e4248e.jpg);
}

#contenido {
  background-color: white;
  margin-top: 20px;
}

/* Modifico el h1 directamente con su etiqueta (ya que solo puede existir un h1 en la pagina) */
h1 {
  color: white;
  background-color: chocolate;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

#subtitulo {
  color: white;
  background-color: chocolate;
}

#navbar li {
  display: inline-block;

  transition: 500ms;
  outline: none;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 11px;
  padding-bottom: 11px;

  text-align: center;
}
#navbar a {
  text-decoration: none;
  display: inline-block;
  color: white;
  justify-content: space-between;
}

#navbar li:hover {
  background-color: brown;
}
#navbar {
  background: black;
}
.estrellas {
  color: orange;
  float: right;
}
.estrellas2 {
  color: orange;
}

.subtitulo {
  display: inline;
}

#twitter {
  background-color: #3498db;
  color: white;
}

.caja hover {
  transition: 300m;
}

.imagen_propia {
  width: 250px;
  height: 200px;
  border: rgb(204, 201, 201) solid 1px;
  margin-left: 25px;
}

form input[type="nombre"],
form input[type="contrasena"],
form input[type="correo"] {
  margin-bottom: 10px;
  border-radius: 2px;
  border-color: turquoise;
  width: 100%;
  box-shadow: 0px 0px 2px gray;
}
#sidebar {
  background-color: rgb(209, 207, 207);
  padding: 0px 15px 25px 15px;
  border-radius: 3px;
  border: rgb(204, 201, 201) solid 1px;
}
